@font-face {
font-family: 'ubu';
src:url('font/ubunut/Ubuntu-Medium.ttf') format('truetype');
}
#post
{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 auto;
	outline:none;
	font-family: 'ubu';
	font-size: 25px;
	font-weight: bolder;
	background-color: #ccc;
	color: "white";
	padding: 12px;
	
	border: 0px;
}
#post:hover
{
	background-color: #f85e7d;
}
.formele>input
{
	font-family: 'ubu';
	font-size: 20px;
	border:0px;
	border-bottom: 1px solid #f85e7d;
}
.formele>input:focus
{
	outline: none;
}
#post>img
{
	margin: 0 auto;
	display: block;
	vertical-align: center;
	max-height: 30px;
	max-width: 30px;
}
.formele
{
	margin-top: 10px;
	width: auto;
	height: 60px;
	text-align: center;
	vertical-align: center;
}
#footer
{	width: 400px;
	height: 100px;
	/* margin-top: 120px; */
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #f85e7d;
	box-sizing: border-box;
	padding: 10px;
	
}
#footer>img
{

	display: block;
	margin: 0 auto;
	max-height: 80px;	
}

